<%= link_to @artist.name, artist_path(@artist) %>
<p><%= @artist.song_count %> songs</p>

<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, song_path(song) %></li>
  <% end %>
</ul>
